apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "stoker-operator.fullname" . }}-manager-role
  labels:
    {{- include "stoker-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resourceNames:
      - stoker-agent
    resources:
      - clusterroles
    verbs:
      - bind
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - stoker.io
    resources:
      - gatewaysyncs
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - stoker.io
    resources:
      - gatewaysyncs/finalizers
    verbs:
      - update
  - apiGroups:
      - stoker.io
    resources:
      - gatewaysyncs/status
    verbs:
      - get
      - patch
      - update
