# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Exclude non-source directories from build context
.git
.github
charts
config
docs
hack
secrets
test

# Exclude non-source files
**/*_test.go
*.md
Makefile
LICENSE
.dockerignore
.gitignore
.golangci.yml
