replicaCount: 1

image:
  repository: ghcr.io/inductiveautomation/ignition-sync-operator
  tag: ""  # defaults to appVersion
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 64Mi

leaderElection:
  enabled: true

metrics:
  enabled: true
  service:
    port: 8443
    type: ClusterIP

serviceMonitor:
  enabled: false

networkPolicy:
  enabled: false

nodeSelector: {}
tolerations: []
affinity: {}
