---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - stoker-agent
  resources:
  - clusterroles
  verbs:
  - bind
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - stoker.io
  resources:
  - gatewaysyncs
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - stoker.io
  resources:
  - gatewaysyncs/finalizers
  verbs:
  - update
- apiGroups:
  - stoker.io
  resources:
  - gatewaysyncs/status
  verbs:
  - get
  - patch
  - update
